{% extends 'base.html' %}

{% block navbar1 %}
     <li class="menu-item ">
        <form class="search-form" action=".." method="GET">
            <input type="search" id="search-input" name="q" placeholder="Pretraži..." class="form-control placeholder-color"  >
        </form>
     </li>
    <li class="menu-item ">
        <button type="button" class="search-btn btn btn-outline-linear btn-medium" onclick="pretrazi()">Pretraži</button>
    </li>

{% endblock %}
{% block navbar3 %}
    <div class="btn-wrap d-flex my-4 my-lg-4 ">
    <a href="login.html" class="btn btn-linear btn-medium">Prijavi se</a>
    <a href="signin.html" class="btn btn-outline-linear btn-medium m-0">Registruj se</a>
    </div>

{% endblock %}