{% extends 'base_nav_bar.html' %}

{% block maincontent %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container col-md-6">

            <div class="input-row" >
                <label for="stara-lozinka">Stara lozinka:</label>
                <input type="password" id="stara-lozinka" name="stara-lozinka" required>
            </div>

            <div class="input-row" >
                <label for="nova-lozinka">Nova lozinka:</label>
                <input type="password" id="nova-lozinka" name="nova-lozinka" required>
            </div>

            <div class="input-row">
                <label for="potvrda-lozinke">Ponovite lozinku:</label>
                <input type="password" id="potvrda-lozinke" name="potvrda-lozinke" required>
            </div>
            
            {% if messages %}
                <ul class="messages" style="text-align: center;">
                   {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            <span style="font-weight: bold; 
                                    color: 
                                    {% if message.tags == 'error' %}red
                                    {% elif message.tags == 'success' %}green
                                    {% endif %};
                                    ">{{ message }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="input-row" >
               <button type="submit" id="submitBtn" class="btn btn-lg"  type="button" style="background-color: #8D52F5;  margin: auto; margin-top: 60px">Potvrdi</button>
            </div>
        </div>
    </form>

    

{% endblock %}